<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Customer Data</ng-template>
            <mat-form-field>
                <label>{{ 'CUSTOMER.Name' | translate }} </label>
                <div style="margin-top: 44px;"></div>
                <mat-label disabled>{{currentUser.name}}</mat-label>
                <input matInput value="currentUser.name" formControlName="nameCtrl" hidden>
            </mat-form-field><mat-form-field>
                <label>{{ 'CUSTOMER.Mobile' | translate }}</label>
                <div style="margin-top: 44px;"></div>
                <mat-label disabled>{{currentUser.mobile}}</mat-label>
                <input matInput value="currentUser.mobile" formControlName="mobileCtrl" hidden>
            </mat-form-field><mat-form-field>
                <label>{{ 'CUSTOMER.Email' | translate }} </label>
                <div style="margin-top: 44px;"></div>
                <mat-label disabled style="width: 500px;">{{currentUser.email}}</mat-label>
                <input matInput value="currentUser.email" formControlName="emailCtrl" hidden>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your certificate</ng-template>
            <mat-form-field>
                <mat-label for="academicYearCtrl">{{ 'Certificate.AcademicYear' | translate }}</mat-label>
                <input matInput formControlName="academicYearCtrl">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="schoolNameCtrl">{{ 'Certificate.SchoolName' | translate }}</mat-label>
                <input matInput formControlName="schoolNameCtrl">
            </mat-form-field>
            <div>

                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSave()">Save</button>
            </div>
        </form>
    </mat-step>
</mat-stepper>