<form ngForm="Form" (submit)="onSave()">
    <div class="form-group">
        <label for="Name">Name <span style="color: red;">*</span></label>
        <input required [ngClass]="{'red-border-class': errors?.Name && isSubmit}" type="text"
            [(ngModel)]="service.customer.name" class="form-control" name="name">
        <div *ngIf="errors?.Name && isSubmit" class="alert alert-danger mt-2 mb-2">
            <div>
                {{ errors.Name }}
            </div>
        </div>
    </div>
     <div class="form-group">
        <label for="Mobile">Mobile <span style="color: red;">*</span></label>
        <input required  [ngClass]="{'red-border-class': errors?.Mobile && isSubmit}" 
        #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched"
        pattern="^(05)([0-9]{8})$"
        type="text" [(ngModel)]="service.customer.mobile" class="form-control" name="mobile">
        <div *ngIf="errors?.Mobile && isSubmit" class="alert alert-danger mt-2 mb-2">
            <div>
                {{ errors.Mobile }}
            </div>
        </div>
        <div *ngIf="mobile.errors && (mobile.invalid || mobile.touched)">
            <div class="alert alert-danger mt-2 mb-2" *ngIf="mobile.errors.pattern">
                Please provide a valid mobile number</div>
          </div>
    </div>
    <div class="form-group">
        <label for="Email">Email <span style="color: red;">*</span></label>
        <input required  [ngClass]="{'red-border-class': errors?.Email && isSubmit}"
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
        type="email" [(ngModel)]="service.customer.email" class="form-control" name="email">
        <div *ngIf="errors?.Email && isSubmit" class="alert alert-danger mt-2 mb-2">
            <div>
                {{ errors.Mobile }}
            </div>
        </div>
        <div *ngIf="email.errors && (email.invalid || email.touched)">
            <div class="alert alert-danger mt-2 mb-2" *ngIf="email.errors.pattern">
                Please provide a valid email address</div>
          </div>
    </div> 
    <input type="submit" class="btn btn-primary btn-lg" value="Save">
</form>