<div class="row">
    <div class="p-1">
        <a class="btn btn-primary" routerLink="newCertificate">{{ 'Certificate.CreateNewCertificate' | translate }}</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <th>{{ 'Certificate.AcademicYear' | translate }}</th>
            <th>{{ 'Certificate.SchoolName' | translate }}</th>
            <th>{{ 'Certificate.CustomerName' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of service.certs">
                <td>{{ item.academicYear }}</td>
                <td>{{ item.schoolName }}</td>
                <td>{{ item.customerName }}</td>
            </tr>
        </tbody>
    </table>
</div>