<div class="container">

    <nav class=" justify-content-between d-none d-lg-flex">
        <div class="left-side-nav">
            <div class="menu languages-menu ui-rtl " dir="rtl">

                <button type="button" class="cursor-pointer" style="padding-top: 13px" icon="pi pi-list" label=" "
                    (click)="langtoggle()">
                    {{translate.currentLang == 'ar-SA'?'عربى':'English'}}
                </button>
                <button *ngIf="loginService.isLogIn" type="button" class="cursor-pointer" style="padding-top: 13px" icon="pi pi-list" label=" "
                    (click)="onLogout()">
                    {{translate.currentLang == 'ar-SA'?'خروج':'Logout'}}
                </button>
            </div>
        </div>
    </nav>

    <ul>
        <li><a routerLink="">{{ 'Home' | translate }}</a></li>
        <li><a routerLink="customers">{{ 'Customers' | translate }}</a></li>
        <li *ngIf="loginService.isLogIn"><a routerLink="certificates">{{ 'Certificates' | translate }}</a></li>
        <li *ngIf="loginService.isLogIn"><a routerLink="complains">{{ 'Complains' | translate }}</a></li>
    </ul>

    <router-outlet></router-outlet>
</div>