<div class="row">
    <div class="p-1">
        <a class="btn btn-primary" routerLink="newCustomer">{{ 'CUSTOMER.CreateNewCustomer' | translate }}</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <th>{{ 'CUSTOMER.Name' | translate }}</th>
            <th>{{ 'CUSTOMER.Mobile' | translate }}</th>
            <th>{{ 'CUSTOMER.Email' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of service.customers">
                <td>{{ item.name }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.email }}</td>
            </tr>
        </tbody>
    </table>
</div>