<div class="row">
    <div class="p-1">
        <a class="btn btn-primary" routerLink="newComplain">{{ 'Complain.CreateNewComplain' | translate }}</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <th>{{ 'Complain.Title' | translate }}</th>
            <th>{{ 'Complain.Description' | translate }}</th>
            <th>{{ 'Complain.CustomerName' | translate }}</th>
            <th>{{ 'Complain.Actions' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of service.complains">
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.customerName }}</td>
                <td>
                    <a (click)="fillData(item)" class="btn btn-danger">{{ 'Complain.Edit' | translate }}</a> &nbsp;
                    <a *ngIf="!item.isCompleted" (click)="onComplete(item)" class="btn btn-danger">{{
                        'Complain.CompleteSave' | translate }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>