<div class="row">
    <div class="p-1">
        <a class="btn btn-primary" routerLink="newComplain">{{ 'Complain.CreateNewComplain' | translate }}</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <th>{{ 'Complain.Title' | translate }}</th>
            <th>{{ 'Complain.Description' | translate }}</th>
            <th>{{ 'Complain.CustomerName' | translate }}</th>
            <th>Actions</th>
        </thead>
        <tbody>
                 <tr *ngFor="let item of service.complains">
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.customerName }}</td>
                    <td><a *ngIf="!item.isCompleted" (click)="onComplete(item)" class="btn btn-danger">Complete Save</a></td>
                </tr> 
        </tbody>
    </table>
</div>